<nz-layout class="layout">
  <nz-header>
    <ul nz-menu  nzMode="horizontal">
      <ng-container *ngFor="let menu of menus" >
          <li *ngIf="!menu.children"  nz-menu-item routerLink="{{menu.link}}" >{{menu.text}}</li>
          <li *ngIf="menu.children"  nz-submenu nzTitle="{{menu.text}}" >
            <ul>
              <li *ngFor="let child of menu.children" nz-menu-item routerLink="{{child.link}}" > {{child.text}} </li>
            </ul>
          </li>
      </ng-container>
    </ul>
  </nz-header>
  <nz-content>
    <!-- <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb> -->
    <div class="inner-content">Content</div>
  </nz-content>
  <nz-footer>©2020 Implement By zhongzx8080</nz-footer>
</nz-layout>