<nz-layout class="layout">
  <nz-header>
    <ul nz-menu nzMode="horizontal">
      <ng-container *ngFor="let menu of menus">
        <li *ngIf="!menu.children" nz-menu-item routerLink="{{ menu.link }}">
          {{ menu.text }}
        </li>
        <li *ngIf="menu.children" nz-submenu nzTitle="{{ menu.text }}">
          <ul>
            <li
              *ngFor="let child of menu.children"
              nz-menu-item
              routerLink="{{ child.link }}"
            >
              {{ child.text }}
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer
    >©2020 Implement By
    <a href="{{ githubUrl }}" target="_blank">zhongzx8080</a></nz-footer
  >
</nz-layout>
