<nz-card nzTitle="JWT解码">
  <button class="clearBtn" nz-button nzType="default" (click)="clearText()">
    清空
  </button>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <nz-card nzTitle="解码前">
        <textarea
          [nzAutosize]="{ minRows: rows }"
          [(ngModel)]="originText"
          (ngModelChange)="textChange($event)"
          nz-input
        ></textarea>
      </nz-card>
    </div>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="解码后">
        <textarea
          [nzAutosize]="{ minRows: rows }"
          [(ngModel)]="decodedText"
          nz-input
        ></textarea>
      </nz-card>
    </div>
  </div>
</nz-card>
